:root {
    --bg-color: #56baed;
    --cell-color: #fff;
    --grid-gap: 15px;
    --btn-padding: 15px;
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* Google Fonts utility functions */

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    font-size: calc(3rem + 1vw);
}

#root {
    display: flex;
    width: 85%;
    margin: auto;
}

.container {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(3, 1fr);
}

.grid-container {
    padding-top: calc(var(--btn-padding));
}

div.form-container {
    width: 100%;
    margin-bottom: 50px;
}

.item {
    aspect-ratio: 1;
    background-color: var(--cell-color);
    border-radius: 20px;
    display: grid;
    font-size: 4.75rem;
    place-content: center;
}

.final-item {
    grid-column: span 3;
}

.result-panel {
    text-align: center;
    font-size: calc(1.25rem + 0.5vw);
}

.reset-btn {
    background-color: var(--cell-color);
    border-radius: 10px;
    border: none;
    display: block;
    font-size: 1.25rem;
    margin: auto;
    padding: var(--btn-padding);
}

.reset-btn:hover {
    scale: 1.1;
}

@media (width > 768px) {
    .container {
        width: 50%;
    }
}

@media(width < 768px) {
    #root {
        flex-wrap: wrap;
    }

    .container {
        width: 100%;
    }
}
